# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and log files
*.log
*.tmp
*.bak

# Active project state pointer
project/.active_project

# Ignore all project folders and inside data
project/*
