# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and log files
*.log
*.tmp
*.bak



# Active project state pointer
project/.active_project

# Project workspaces - ignore raw partitions, images, archives, unpacked directories
project/*/*/*
!project/*/*/.gitkeep
!project/*/.gitkeep
!project/*/project.json
!project/*/cauldron/config/
!project/*/cauldron/config/*

